@font-face {
    font-family: 'Bantayog';
    src: url("../font/Bantayog-Regular.otf") format("opentype"),
         url("../font/Bantayog-Regular.woff") format("woff"),
         url("../font/Bantayog-Regular.woff2") format("woff2");
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Bantayog';
}
html, body{
    height: 100%;
}
a{
    text-decoration: none;
}
ul
{
    list-style-type: none;
}
header {
    background-color: #194AB0;
    height: 9.2%;
    width: 100%;
}
header .logo{
    height: 100%;
    float: left;
    margin-left: 3.5%;
}
header .logo img{
    height: 100%;
}
.main{
    height: 81.6%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
nav {
    height: 100%;
    float: left;
    width: 15%;
    background-color: #F5F5F5;
    border-right: #515151 solid 1px;
    display: flex;
    justify-content: center;
}
nav .selected{
    background-color: #072463;
    border-radius: 20px;
}
nav .selected p{
    color: #FDDBAE !important;
}
nav ul{
    list-style: none;
    background-color: #ffffff;
    border-radius: 20px;
    width: 70%;
    height: 50%;
    margin-top: 5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
}
nav ul li{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 15%;
    border-radius: 20px;
    margin-bottom: 5px;
    border-radius: 20px;
}
nav .nonSelected :hover{
    background-color: #94B2F0;
}
li a{
    width: 100%;
    height: 100%;
    display: flex;
    vertical-align: center;
    border-radius: 20px;
}
nav li a img{
    height: 70%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}
nav li a p{
    font-size: 1.2em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    color: #995700;
}
footer {
    background-color: #94B2F0;
    height: 9.2%;
    width: 95%;
    display: flex;
    padding-left: 5%;
    flex-direction: column;
}
footer .links{
    height: 50%;
    width: 50%;
    display: flex;
}
footer a{
    color: #995700;
    margin-right: 3%;
    margin-top: auto;
    margin-bottom: auto;
}
footer p{
    font-size: 0.7em;
    color: #995700;
}
.Accueil{
    height: 100%;
    width: 85%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: top;
    background: rgb(153, 87, 0);
        background: linear-gradient(90deg, rgba(153, 87, 0, 1) 0%, rgba(253, 219, 174, 1) 100%);
    text-align: center;
}
.Accueil h1{
    font-size: 3em;
    color: #072463;
    margin-top: 1%;
}
.Accueil .img {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.Accueil img{
    height: 60%;
    margin: 3%;
}
.Accueil .img p{
    font-size: 7em;
    color: #072463;
    margin-top: 1%;
    margin-bottom: auto;
    margin-right: 10%;
}
.Accueil .bottomHalf {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.bottomHalf a {
    margin: auto;
    width: 30%;
    height: 30%;
    border-radius: 20px;
    background-color: #194AB0;
    color: #FDDBAE;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Add{
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Add form{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-left: auto;
    margin-right: auto;
}
.Add form label{
    font-size: 1.5em;
    color: #072463;
    margin-top: 1%;
    margin-bottom: 1%;
}
.Add form input{
    height: 5%;
    width: 100%;
    margin-bottom: 5%;
    border-radius: 20px;
    border: none;
    padding-left: 5%;
    font-size: 1.2em;
    border: #515151 solid 1px;
}
.Add form input[type="submit"]{
    height: 5%;
    width: 100%;
    margin-bottom: 5%;
    border-radius: 20px;
    border: none;
    background-color: #072463;
    color: #FDDBAE;
    font-size: 1.2em;
}
.Add form select{
    height: 5%;
    width: 100%;
    margin-bottom: 5%;
    border-radius: 20px;
    border: none;
    padding-left: 5%;
    font-size: 1.2em;
    border: #515151 solid 1px;
}
.Statistique{
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Stat-left{
    height: 100%;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Stat-left-top{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Stat-left-bottom {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Stat-right {
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box{
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 1px 1px 1px 1px gray;
}
.box-wide{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 1px 1px 1px 1px gray;
}
.box-content{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box-content .half{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-content .half ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-content .half ul li{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.box-content .half ul li p{
    margin-left: 5%;
    font-size: 1.2em;
    color: #072463;
}
.box ul {
    height: 90%;
    width: 100%;
}

.box ul li {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box ul li p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2em;
    color: #072463;
}
.box-high{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 1px 1px 1px 1px gray;
}
.box-high ul {
    height: 95.5%;
    width: 100%;
}

.box-high ul li {
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-high ul li p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2em;
    color: #072463;
}
.box-header{
    height: 10%;
    width: 100%;
    display: flex;
    background-color: #194AB0;
    border-radius: 20px 20px 0px 0px;
}
.box-header p {
    font-size: 1.3em;
    color: #FDDBAE;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}
.box-header-high{
    height: 4.5%;
    width: 100%;
    display: flex;
    background-color: #194AB0;
    border-radius: 20px 20px 0px 0px;
}
.box-header-high p{
    font-size: 1.3em;
    color: #FDDBAE;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}
.Musiques{
    height: 100%;
    width: 85%;
    overflow: scroll;
}
.Musiques h1 {
    color: #995700;
    margin-top: 0.5%;
    margin-left: 0.5%;
}
.Musiques p {
    color: #995700;
    margin-top: 0.5%;
    margin-left: 0.5%;
}
.Musiques ul {
    height: 100%;
    width: 100%;
}
.Musiques ul li {
    height: 50px;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px gray;
}
.Musiques img {
    height: 70%;
    width: 10%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}
.Musiques p {
    font-size: 1.2em;
    margin-top: auto;
    margin-bottom: auto;
    color: #995700;
}
.Form {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Form form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-left: auto;
    margin-right: auto;
}

.Form form label {
    font-size: 1.5em;
    color: #072463;
    margin-top: 1%;
    margin-bottom: 1%;
}

.Form form input {
    height: 5%;
    width: 100%;
    margin-bottom: 5%;
    border-radius: 20px;
    border: none;
    padding-left: 5%;
    font-size: 1.2em;
    border: #515151 solid 1px;
}

.Form form input[type="submit"] {
    height: 5%;
    width: 100%;
    margin-bottom: 5%;
    border-radius: 20px;
    border: none;
    background-color: #072463;
    color: #FDDBAE;
    font-size: 1.2em;
}

.Form form select {
    height: 5%;
    width: 100%;
    margin-bottom: 5%;
    border-radius: 20px;
    border: none;
    padding-left: 5%;
    font-size: 1.2em;
    border: #515151 solid 1px;
}

.Playlist {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.PlaylistHeader {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.PlaylistHeader a {
    background-color: #94B2F0;
    height: 50px;
    width: 19%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-right: 4%;
    margin-bottom: auto;
    margin-left: auto;
}

.PlaylistHeader img {
    height: 70%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

.PlaylistHeader p {
    color: #995700;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
}
.PlaylistBody ul {
    height: 100%;
    width: 100%;
}

.PlaylistBody ul li {
    height: 50px;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px gray;
}

.PlaylistBody img {
    height: 70%;
    width: 10%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

.PlaylistBody p {
    font-size: 1.2em;
    margin-top: auto;
    margin-bottom: auto;
    color: #995700;
}

.PlaylistBody {
    height: 90%;
    width: 100%;
    overflow: auto;
}

.musique {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F5F5F5;
}

.musique ul {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.musique li {
    height: 50px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.musique p {
    font-size: 1.5em;
    color: #072463;
    margin-top: 1%;
    margin-bottom: 1%;
}