@font-face {
    font-family: 'Bantayog';
    src: url("../font/Bantayog-Regular.otf") format("opentype"),
         url("../font/Bantayog-Regular.woff") format("woff"),
         url("../font/Bantayog-Regular.woff2") format("woff2");
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Bantayog';
}
html, body{
    height: 100%;
}
a{
    text-decoration: none;
}
header {
    background-color: #194AB0;
    height: 9.2%;
    width: 100%;
}
header .logo{
    height: 100%;
    float: left;
    margin-left: 3.5%;
}
header .logo img{
    height: 100%;
}
.main{
    height: 81.6%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
nav {
    height: 100%;
    float: left;
    width: 15%;
    background-color: #F5F5F5;
    border-right: #515151 solid 1px;
    display: flex;
    justify-content: center;
}
nav .selected{
    background-color: #072463;
    border-radius: 20px;
}
nav .selected p{
    color: #FDDBAE !important;
}
nav ul{
    list-style: none;
    background-color: #ffffff;
    border-radius: 20px;
    width: 70%;
    height: 50%;
    margin-top: 5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
}
nav ul li{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 15%;
    border-radius: 20px;
}
li a{
    width: 100%;
    height: 100%;
    display: flex;
    vertical-align: center;
}
li a img{
    height: 70%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}
li a p{
    font-size: 1.2em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    color: #995700;
}
footer {
    background-color: #94B2F0;
    height: 9.2%;
    width: 95%;
    display: flex;
    padding-left: 5%;
    flex-direction: column;
}
footer .links{
    height: 50%;
    width: 50%;
    display: flex;
}
footer a{
    color: #995700;
    margin-right: 3%;
    margin-top: auto;
    margin-bottom: auto;
}
footer p{
    font-size: 0.7em;
    color: #995700;
}
.Accueil{
    height: 100%;
    width: 85%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: top;
    background: rgb(153, 87, 0);
        background: linear-gradient(90deg, rgba(153, 87, 0, 1) 0%, rgba(253, 219, 174, 1) 100%);
    text-align: center;
}
.Accueil h1{
    font-size: 3em;
    color: #072463;
    margin-top: 1%;
}
.Accueil .img {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.Accueil img{
    height: 100%;
    margin: 3%;
}
.Accueil .img p{
    font-size: 7em;
    color: #072463;
    margin-top: 1%;
    margin-bottom: auto;
    margin-right: 10%;
}